{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}

{% block body %}
    <h1>Bienvenue dans ce blog</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Aliquid cumque cupiditate explicabo laboriosam velit.
        Non officiis qui reiciendis sed veritatis? Corporis eligendi obcaecati sapiente!
        Animi labore minus necessitatibus possimus tempora!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Aliquid cumque cupiditate explicabo laboriosam velit.
        Non officiis qui reiciendis sed veritatis? Corporis eligendi obcaecati sapiente!
        Animi labore minus necessitatibus possimus tempora!</p>
{% endblock %}



