{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <article>
        <h2>titre de l'article</h2>
        <div class="metadata">Ecrit le 10/05/2020 dans la categorie politique</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum eius fuga id ipsum laborum nemo nostrum optio provident, quae quas quos ratione sunt? Mollitia, velit, vitae? Dolorem doloremque dolores esse!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum eius fuga id ipsum laborum nemo nostrum optio provident, quae quas quos ratione sunt? Mollitia, velit, vitae? Dolorem doloremque dolores esse!</p>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores blanditiis dignissimos hic illum
                inventore magnam molestias necessitatibus neque obcaecati pariatur praesentium, provident qui quia
                quisquam suscipit temporibus tenetur voluptas voluptate!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores blanditiis dignissimos hic illum
                inventore magnam molestias necessitatibus neque obcaecati pariatur praesentium, provident qui quia
                quisquam suscipit temporibus tenetur voluptas voluptate!</p>
        </div>
    </article>
{% endblock %}

